<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Developer Skills</title>
</head>
<body>
    <a href="/">Home</a>
        <h1><%= skill.skill %></h1>
        <p><%= skill.data %></p>
    <a href="/skills">Skills List</a> | 
    <a href="/skills/<%= skill.id %>/edit">Edit Skill</a> | 
    <a href="/skills/<%= skill.id %>/edit">Add a Description</a> |
    <form action="/skills/<%= skill.id %>?_method=DELETE" class="delete-form" method="POST">
        <br>
        <button type="submit">Delete</button>
    </form>
</body>
</html>
